practice_nexon.ipynb
과제
gitignore
Myself_study/.ipynb_checkpoints
## global gitignore for your computer ##
# git config --global core.excludesfile '~/.gitignore'
# echo '.ipynb_checkpoints' >> ~/.gitignore 
.ipynb_checkpoints
.DS_Store

